openapi: 3.0.3
info:
  title: Exerp API
  version: '6'
  description: >-
    API for integrating client systems with the Exerp platform. This version of
    the API uses JSON-RPC style. It contains the same services as version 5 but
    aimed at a modern technical stack. The API is designed to make migration
    from version 5 easy. Each service in version 5 maps straightforwardly to one
    in version 6. See [this page](https://clublead.atlassian.net/wiki/x/NwMDRQ)
    for an overview of both API versions.
servers:
  - url: https://lmr.exerp.qa/api/v6
paths:
  /access/accessGate:
    post:
      description: >-
        [AccessAPI accessGate v5
        documentation](https://clublead.atlassian.net/wiki/x/ggSaH)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                memberCard:
                  $ref: '#/components/schemas/MemberCard'
                usagePointSourceKey:
                  $ref: '#/components/schemas/ApiUsagePointSourceKey'
              required:
                - usagePointSourceKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    $ref: '#/components/schemas/PersonSimple'
                  usagePointName:
                    type: string
                  usagePointKey:
                    $ref: '#/components/schemas/CompositeKey'
                  actionKey:
                    $ref: '#/components/schemas/CompositeKey'
                  actionName:
                    type: string
                  gateCommandData:
                    $ref: '#/components/schemas/GateCommandData'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/assignCard:
    post:
      description: >-
        [AccessAPI assignCard v5
        documentation](https://clublead.atlassian.net/wiki/x/koGJFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                card:
                  $ref: '#/components/schemas/MemberCard'
                blockExisting:
                  type: boolean
                blockExistingCardStatus:
                  $ref: '#/components/schemas/MemberCardStatus'
              required:
                - personKey
                - card
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/attendResource:
    post:
      description: >-
        [AccessAPI attendResource v5
        documentation](https://clublead.atlassian.net/wiki/x/hICGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roomResourceKey:
                  $ref: '#/components/schemas/CompositeKey'
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/checkAccess:
    post:
      description: >-
        [AccessAPI checkAccess v5
        documentation](https://clublead.atlassian.net/wiki/x/kgCHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roomResourceKey:
                  $ref: '#/components/schemas/CompositeKey'
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
                nullable: false
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/checkInPerson:
    post:
      description: >-
        [AccessAPI checkInPerson v5
        documentation](https://clublead.atlassian.net/wiki/x/f4CHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                center:
                  type: integer
                  nullable: false
                  format: int32
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
                nullable: false
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/deactivateMemberCard:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                card:
                  $ref: '#/components/schemas/MemberCard'
                blockingCardStatus:
                  $ref: '#/components/schemas/MemberCardStatus'
              required:
                - personKey
                - card
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateMemberCardResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/getAttendableResources:
    post:
      description: >-
        [AccessAPI getAttendableResources v5
        documentation](https://clublead.atlassian.net/wiki/x/_YCIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  nullable: false
                  format: int32
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                resourceExternalId:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendableResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/getPersonAttends:
    post:
      description: >-
        [AccessAPI getPersonAttends v5
        documentation](https://clublead.atlassian.net/wiki/x/jICGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                fromDate:
                  type: string
                toDate:
                  type: string
                attends:
                  type: boolean
                  nullable: false
                checkIns:
                  type: boolean
                  nullable: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CenterPresence'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/getTemporaryQRCode:
    post:
      description: >-
        [AccessAPI getTemporaryQRCode v5
        documentation](https://clublead.atlassian.net/wiki/x/h4CHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
              required:
                - personKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/getUsageSource:
    get:
      description: >-
        [AccessAPI getUsageSource v5
        documentation](https://clublead.atlassian.net/wiki/x/A4A7H)
      parameters:
        - name: centerId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsagePointSourceResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [AccessAPI getUsageSource v5
        documentation](https://clublead.atlassian.net/wiki/x/A4A7H)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  nullable: false
                  format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsagePointSourceResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/registerAttendByAccessCard:
    post:
      description: >-
        [AccessAPI registerAttendByAccessCard v5
        documentation](https://clublead.atlassian.net/wiki/x/owKKFg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                usagePointSourceKey:
                  $ref: '#/components/schemas/ApiUsagePointSourceKey'
                centerId:
                  type: integer
                  nullable: false
                  format: int32
                resourceExternalId:
                  type: string
                cardId:
                  type: string
                cardType:
                  $ref: '#/components/schemas/AccessCardType'
                date:
                  type: string
                startTime:
                  type: string
              required:
                - centerId
                - resourceExternalId
                - cardId
                - cardType
                - date
                - startTime
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/registerAttendByAccessCardNoPrivilege:
    post:
      description: >-
        [AccessAPI registerAttendByAccessCardNoPrivilege v5
        documentation](https://clublead.atlassian.net/wiki/x/xwKKFg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  nullable: false
                  format: int32
                resourceExternalId:
                  type: string
                cardId:
                  type: string
                cardType:
                  $ref: '#/components/schemas/AccessCardType'
                date:
                  type: string
                startTime:
                  type: string
              required:
                - centerId
                - resourceExternalId
                - cardId
                - cardType
                - date
                - startTime
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/registerAttendNoPrivilege:
    post:
      description: >-
        [AccessAPI registerAttendNoPrivilege v5
        documentation](https://clublead.atlassian.net/wiki/x/ZIOHFg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roomResourceKey:
                  $ref: '#/components/schemas/CompositeKey'
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                date:
                  type: string
                startTime:
                  type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /access/registerMultipleAttendByAccessCardNoPrivilege:
    post:
      description: >-
        [AccessAPI registerMultipleAttendByAccessCardNoPrivilege v5
        documentation](https://clublead.atlassian.net/wiki/x/joCHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  centerId:
                    type: integer
                    nullable: false
                    format: int32
                  resourceExternalId:
                    type: string
                  cardId:
                    type: string
                  cardType:
                    $ref: '#/components/schemas/AccessCardType'
                  date:
                    type: string
                  startTime:
                    type: string
                required:
                  - centerId
                  - resourceExternalId
                  - cardId
                  - cardType
                  - date
                  - startTime
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/changeIndividualDeductionday:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  $ref: '#/components/schemas/ApiPersonKey'
                paymentAgreementKey:
                  $ref: '#/components/schemas/CompositeSubKey'
                deductionDay:
                  type: integer
                  format: int32
              required:
                - personId
                - paymentAgreementKey
                - deductionDay
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  personId:
                    $ref: '#/components/schemas/ApiPersonKey'
                  paymentAgreementKey:
                    $ref: '#/components/schemas/CompositeSubKey'
                  deductionDay:
                    type: integer
                    format: int32
                  oldDeductionDay:
                    type: integer
                    format: int32
                  errors:
                    $ref: '#/components/schemas/List'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/createAccountReceivableTransaction:
    post:
      description: >-
        [AccountReceivableAPI createAccountReceivableTransaction v5
        documentation](https://clublead.atlassian.net/wiki/x/-4CIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                accountReceivableType:
                  $ref: '#/components/schemas/AccountReceivableType'
                amount:
                  type: string
                comment:
                  type: string
                accountGlobalId:
                  type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/createCreditCardPaymentAgreement:
    post:
      description: >-
        [AccountReceivableAPI createCreditCardPaymentAgreement v5
        documentation](https://clublead.atlassian.net/wiki/x/lACGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                reference:
                  type: string
                maskedCreditCardNumber:
                  type: string
                expirationDate:
                  type: string
                replacePaymentAgreementKey:
                  $ref: '#/components/schemas/CompositeSubKey'
                individualDeductionDay:
                  type: integer
                  format: int32
                paymentCycleId:
                  type: integer
                  format: int32
                clearingHouseExternalId:
                  type: string
                initialReference:
                  type: string
                enableInShop:
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/createPaymentAgreement:
    post:
      description: >-
        [AccountReceivableAPI createPaymentAgreement v5
        documentation](https://clublead.atlassian.net/wiki/x/ngCGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                bankInfo:
                  $ref: '#/components/schemas/BankInfo'
                paymentType:
                  $ref: '#/components/schemas/PersonPaymentType'
                payerGivesAuthorizationExternally:
                  type: boolean
                generateDocument:
                  type: boolean
                individualDeductionDay:
                  type: integer
                  format: int32
                notifyPayment:
                  type: boolean
                replacePaymentAgreementKey:
                  $ref: '#/components/schemas/CompositeSubKey'
                paymentCycleId:
                  type: integer
                  format: int32
              required:
                - personKey
                - paymentType
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/createPaymentRequest:
    post:
      description: >-
        [AccountReceivableAPI createPaymentRequest v5
        documentation](https://clublead.atlassian.net/wiki/x/n4CHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  $ref: '#/components/schemas/ApiPersonKey'
                dueDate:
                  type: string
                deductionDate:
                  type: string
                paymentAgreementKeyForCollection:
                  $ref: '#/components/schemas/CompositeSubKey'
              required:
                - customerId
                - dueDate
                - deductionDate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositeSubKey'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/createThirdPartyPaymentAgreement:
    post:
      description: >-
        [AccountReceivableAPI createThirdPartyPaymentAgreement v5
        documentation](https://clublead.atlassian.net/wiki/x/tICbIw)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                initialReference:
                  type: string
                reference:
                  type: string
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                replacePaymentAgreementKey:
                  $ref: '#/components/schemas/CompositeSubKey'
                individualDeductionDay:
                  type: integer
                  format: int32
                paymentCycleId:
                  type: integer
                  format: int32
                clearingHouseExternalId:
                  type: string
              required:
                - initialReference
                - reference
                - personKey
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateThirdPartyPaymentAgreementResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getAccountOverview:
    post:
      description: >-
        [AccountReceivableAPI getAccountOverview v5
        documentation](https://clublead.atlassian.net/wiki/x/wQCKFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  $ref: '#/components/schemas/ApiPersonKey'
              required:
                - personId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOverview'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getAvailableClearingHouses:
    get:
      description: >-
        [AccountReceivableAPI getAvailableClearingHouses v5
        documentation](https://clublead.atlassian.net/wiki/x/yQCKFQ)
      parameters:
        - name: centerId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClearingHouse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [AccountReceivableAPI getAvailableClearingHouses v5
        documentation](https://clublead.atlassian.net/wiki/x/yQCKFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  nullable: false
                  format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClearingHouse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getIndividualDeductionDaysValidity:
    post:
      description: >-
        [AccountReceivableAPI getIndividualDeductionDaysValidity v5
        documentation](https://clublead.atlassian.net/wiki/x/iYCFFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  $ref: '#/components/schemas/ApiPersonKey'
                paymentAgreementKey:
                  $ref: '#/components/schemas/CompositeSubKey'
              required:
                - personId
                - paymentAgreementKey
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualDeductionDaysValidity'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getPaymentAgreementInfo:
    post:
      description: >-
        [AccountReceivableAPI getPaymentAgreementInfo v5
        documentation](https://clublead.atlassian.net/wiki/x/kICFFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                onlyActive:
                  type: boolean
                  nullable: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAgreementInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getPaymentRequest:
    get:
      description: >-
        [AccountReceivableAPI getPaymentRequest v5
        documentation](https://clublead.atlassian.net/wiki/x/O4K2Fg)
      parameters:
        - name: subId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: center
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: id
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [AccountReceivableAPI getPaymentRequest v5
        documentation](https://clublead.atlassian.net/wiki/x/O4K2Fg)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeSubKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getPaymentRequestDocument:
    get:
      description: >-
        [AccountReceivableAPI getPaymentRequestDocument v5
        documentation](https://clublead.atlassian.net/wiki/x/m4CFFQ)
      parameters:
        - name: subId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: center
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: id
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MIMEDocument'
            '*/*':
              schema:
                type: string
                format: binary
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [AccountReceivableAPI getPaymentRequestDocument v5
        documentation](https://clublead.atlassian.net/wiki/x/m4CFFQ)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeSubKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MIMEDocument'
            '*/*':
              schema:
                type: string
                format: binary
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getPaymentRequests:
    post:
      description: >-
        [AccountReceivableAPI getPaymentRequests v5
        documentation](https://clublead.atlassian.net/wiki/x/9QCIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/CompositeKey'
                dateFrom:
                  type: string
                dateTo:
                  type: string
                includeCredits:
                  type: boolean
                includeTypes:
                  type: array
                  items:
                    $ref: '#/components/schemas/PaymentRequestType'
                includeNew:
                  type: boolean
              required:
                - personKey
                - dateFrom
                - dateTo
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/getTransactions:
    post:
      description: >-
        [AccountReceivableAPI getTransactions v5
        documentation](https://clublead.atlassian.net/wiki/x/wACHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                accountReceivableTypeId:
                  type: integer
                  format: int32
                dateFrom:
                  type: string
                dateTo:
                  type: string
              required:
                - personKey
                - accountReceivableTypeId
                - dateFrom
                - dateTo
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ARTransactionTableRecord'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/registerDebtCollectionPayment:
    post:
      description: >-
        [AccountReceivableAPI registerDebtCollectionPayment v5
        documentation](https://clublead.atlassian.net/wiki/x/TQB-Fg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                amount:
                  type: number
                date:
                  type: string
                textReference:
                  type: string
              required:
                - personKey
                - amount
                - date
                - textReference
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/registerPayment:
    post:
      description: >-
        [AccountReceivableAPI registerPayment v5
        documentation](https://clublead.atlassian.net/wiki/x/lICGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                amount:
                  type: number
                consolidatedInvoicesKey:
                  type: array
                  items:
                    $ref: '#/components/schemas/CompositeSubKey'
                encryptedCardDetails:
                  type: string
                creditCardTransactionReference:
                  type: string
                customPaymentMethodId:
                  type: integer
                  format: int32
                paymentText:
                  type: string
                paymentSessionKey:
                  type: integer
                  format: int32
              required:
                - personKey
                - amount
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
                nullable: false
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/registerPaymentOnPaymentRequestUsingInvoiceKey:
    post:
      description: >-
        [AccountReceivableAPI registerPaymentOnPaymentRequestUsingInvoiceKey v5
        documentation](https://clublead.atlassian.net/wiki/x/GIGIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoiceKey:
                  $ref: '#/components/schemas/CompositeSubKey'
                personKey:
                  $ref: '#/components/schemas/CompositeKey'
                amount:
                  type: string
                comment:
                  type: string
                globalAccountName:
                  type: string
              required:
                - invoiceKey
                - personKey
                - amount
                - comment
                - globalAccountName
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/registerPaymentOnPaymentRequestUsingInvoiceRef:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoiceRef:
                  type: string
                personKey:
                  $ref: '#/components/schemas/CompositeKey'
                amount:
                  type: string
                comment:
                  type: string
                globalAccountName:
                  type: string
              required:
                - invoiceRef
                - personKey
                - amount
                - comment
                - globalAccountName
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/reversePaymentRequest:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeSubKey'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/setOtherPayer:
    post:
      description: >-
        [AccountReceivableAPI setOtherPayer v5
        documentation](https://clublead.atlassian.net/wiki/x/AQGIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                payerKey:
                  $ref: '#/components/schemas/ApiPersonKey'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/transferAccountBalance:
    post:
      description: >-
        [AccountReceivableAPI transferAccountBalance v5
        documentation](https://clublead.atlassian.net/wiki/x/nIMxMQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fromPersonKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                fromAccountReceivableType:
                  $ref: '#/components/schemas/AccountReceivableType'
                toPersonKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                toAccountReceivableType:
                  $ref: '#/components/schemas/AccountReceivableType'
                transactionTextPrefix:
                  type: string
              required:
                - fromPersonKey
                - fromAccountReceivableType
                - toPersonKey
                - toAccountReceivableType
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferAccountBalanceResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/updateAgreementReference:
    post:
      description: >-
        [AccountReceivableAPI updateAgreementReference v5
        documentation](https://clublead.atlassian.net/wiki/x/EYGgIw)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentAgreementKey:
                  $ref: '#/components/schemas/CompositeSubKey'
                initialReference:
                  type: string
                reference:
                  type: string
              required:
                - paymentAgreementKey
                - initialReference
                - reference
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAgreementReferenceResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/validateBankInfo:
    post:
      description: >-
        [AccountReceivableAPI validateBankInfo v5
        documentation](https://clublead.atlassian.net/wiki/x/noGJFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                countryId:
                  type: string
                bankInfo:
                  $ref: '#/components/schemas/BankInfo'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account-receivables/validateBankInfoExternal:
    post:
      description: >-
        [AccountReceivableAPI validateBankInfoExternal v5
        documentation](https://clublead.atlassian.net/wiki/x/0gCJFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  format: int32
                bankInfo:
                  $ref: '#/components/schemas/BankInfo'
              required:
                - centerId
                - bankInfo
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /apply-step/executeApplyStep:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                applyStepId:
                  type: integer
                  nullable: false
                  format: int32
                entities:
                  type: array
                  items:
                    type: string
                parameters:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                    required:
                      - name
                      - value
              required:
                - applyStepId
                - entities
      responses:
        '200':
          content:
            application/json:
              schema:
                type: integer
                nullable: false
                format: int32
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /apply-step/getAvailableApplySteps:
    get:
      parameters:
        - name: centerId
          in: query
          schema:
            type: integer
            format: int32
        - name: targetType
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableApplyStep'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  format: int32
                targetType:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableApplyStep'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/cancelBooking:
    post:
      description: >-
        [BookingAPI cancelBooking v5
        documentation](https://clublead.atlassian.net/wiki/x/2QCJFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                notifyParticipants:
                  type: boolean
                notifyStaff:
                  type: boolean
                message:
                  type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/cancelPersonParticipation:
    post:
      description: >-
        [BookingAPI cancelPersonParticipation v5
        documentation](https://clublead.atlassian.net/wiki/x/oICGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                participationId:
                  $ref: '#/components/schemas/CompositeKey'
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                userInterfaceType:
                  $ref: '#/components/schemas/UserInterfaceType'
                sendCancelMessage:
                  type: boolean
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/changeClassActivity:
    post:
      description: >-
        [BookingAPI changeClassActivity v5
        documentation](https://clublead.atlassian.net/wiki/x/JgW7H)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                activityId:
                  type: integer
                  format: int32
                name:
                  type: string
                date:
                  type: string
                time:
                  type: string
                duration:
                  type: integer
                  format: int32
                description:
                  type: string
                staffPersonKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/ApiPersonKey'
                resourceKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/CompositeKey'
                maxCapacity:
                  type: integer
                  format: int32
                sendChangeMessage:
                  type: boolean
                  nullable: false
                sendCancelMessage:
                  type: boolean
                  nullable: false
                externalId:
                  type: string
              required:
                - bookingKey
                - activityId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking:
                    $ref: '#/components/schemas/Booking'
                  movedParticipations:
                    $ref: '#/components/schemas/List'
                  cancelledParticipations:
                    $ref: '#/components/schemas/List'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/changeClassActivitySimple:
    post:
      description: >-
        [BookingAPI changeClassActivitySimple v5
        documentation](https://clublead.atlassian.net/wiki/x/SYIXKQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                activityId:
                  type: integer
                  format: int32
              required:
                - bookingKey
                - activityId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking:
                    $ref: '#/components/schemas/Booking'
                required:
                  - booking
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/checkPrivilegeForActivity:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  nullable: false
                  format: int32
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                activityId:
                  type: integer
                  nullable: false
                  format: int32
                includeTentative:
                  type: boolean
                date:
                  type: string
                timeInterval:
                  $ref: '#/components/schemas/Interval'
              required:
                - centerId
                - personKey
                - activityId
                - date
                - timeInterval
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  validPrivilege:
                    type: boolean
                required:
                  - validPrivilege
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/checkPrivilegeForBooking:
    post:
      description: >-
        [BookingAPI checkPrivilegeForBooking v5
        documentation](https://clublead.atlassian.net/wiki/x/HIKRK)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  $ref: '#/components/schemas/ApiPersonKey'
                bookingId:
                  $ref: '#/components/schemas/CompositeKey'
                includeTentative:
                  type: boolean
                productKey:
                  $ref: '#/components/schemas/ApiProductKey'
              required:
                - personId
                - bookingId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  validPrivilege:
                    type: boolean
                required:
                  - validPrivilege
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/createClass:
    post:
      description: >-
        [BookingAPI createClass v5
        documentation](https://clublead.atlassian.net/wiki/x/1gCKFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  format: int32
                date:
                  type: string
                time:
                  type: string
                duration:
                  type: integer
                  nullable: false
                  format: int32
                activityKey:
                  type: integer
                  nullable: false
                  format: int32
                resourceKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/CompositeKey'
                staffPersonKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/ApiPersonKey'
                maxCapacity:
                  type: integer
                  format: int32
                name:
                  type: string
                color:
                  $ref: '#/components/schemas/ColorGroup'
                description:
                  type: string
                externalId:
                  type: string
                minAge:
                  type: integer
                  format: int32
                maxAge:
                  type: integer
                  format: int32
              required:
                - centerId
                - date
                - time
                - duration
                - activityKey
                - resourceKeys
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/createOrUpdateParticipation:
    post:
      description: >-
        [BookingAPI createOrUpdateParticipation v5
        documentation](https://clublead.atlassian.net/wiki/x/5ACKFQ)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateParticipationParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  participations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participation'
                  invoiceKey:
                    $ref: '#/components/schemas/CompositeKey'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/createOrUpdateParticipationTentative:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateParticipationTentativeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  participations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/createParticipationAndSendMessage:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                bookingId:
                  $ref: '#/components/schemas/CompositeKey'
                userInterfaceType:
                  $ref: '#/components/schemas/UserInterfaceType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/findClasses:
    post:
      description: >-
        [BookingAPI findClasses v5
        documentation](https://clublead.atlassian.net/wiki/x/q4CGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centers:
                  type: array
                  items:
                    type: integer
                    format: int32
                weekdays:
                  type: array
                  items:
                    $ref: '#/components/schemas/WeekDay'
                timeIntervals:
                  type: array
                  items:
                    $ref: '#/components/schemas/Interval'
                dateInterval:
                  $ref: '#/components/schemas/Interval'
                instructor:
                  type: string
                colorGroups:
                  type: array
                  items:
                    $ref: '#/components/schemas/ColorGroup'
                activityIds:
                  type: array
                  items:
                    type: integer
                    format: int32
                activityGroupIds:
                  type: array
                  items:
                    type: integer
                    format: int32
                externalIds:
                  type: array
                  items:
                    type: string
                bookableViaAPI:
                  type: boolean
              required:
                - dateInterval
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/findPersonParticipations:
    post:
      description: >-
        [BookingAPI findPersonParticipations v5
        documentation](https://clublead.atlassian.net/wiki/x/qICHFQ)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPersonKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getActivityGroups:
    get:
      description: >-
        [BookingAPI getActivityGroups v5
        documentation](https://clublead.atlassian.net/wiki/x/ugCGFQ)
      parameters:
        - name: centerId
          in: query
          schema:
            type: integer
            format: int32
        - name: bookableViaAPI
          in: query
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getActivityGroups v5
        documentation](https://clublead.atlassian.net/wiki/x/ugCGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  format: int32
                bookableViaAPI:
                  type: boolean
              required:
                - centerId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityGroup'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getAllAvailableActivities:
    get:
      description: >-
        [BookingAPI getAllAvailableActivities v5
        documentation](https://clublead.atlassian.net/wiki/x/VIHowg)
      parameters:
        - name: centers
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableActivity'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getAllAvailableActivities v5
        documentation](https://clublead.atlassian.net/wiki/x/VIHowg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centers:
                  type: array
                  items:
                    type: integer
                    format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableActivity'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getAvailableActivities:
    get:
      description: >-
        [BookingAPI getAvailableActivities v5
        documentation](https://clublead.atlassian.net/wiki/x/p4CFFQ)
      parameters:
        - name: centers
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableActivity'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getAvailableActivities v5
        documentation](https://clublead.atlassian.net/wiki/x/p4CFFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centers:
                  type: array
                  items:
                    type: integer
                    format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableActivity'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getAvailableAgeGroups:
    get:
      description: >-
        [BookingAPI getAvailableAgeGroups v5
        documentation](https://clublead.atlassian.net/wiki/x/v4DYFg)
      parameters:
        - name: scopeType
          in: query
          schema:
            type: string
            enum:
              - Global
              - Tree
              - Area
              - Center
        - name: scopeId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  ageGroups:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getAvailableAgeGroups v5
        documentation](https://clublead.atlassian.net/wiki/x/v4DYFg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scopeType:
                  $ref: '#/components/schemas/ScopeType'
                scopeId:
                  type: integer
                  nullable: false
                  format: int32
              required:
                - scopeType
                - scopeId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  ageGroups:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getAvailableSeats:
    post:
      description: >-
        [BookingAPI getAvailableSeats v5
        documentation](https://clublead.atlassian.net/wiki/x/tICHFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  $ref: '#/components/schemas/ApiPersonKey'
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                personType:
                  $ref: '#/components/schemas/PersonType'
                centerId:
                  type: integer
                  format: int32
              required:
                - bookingKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  seats:
                    type: array
                    items:
                      $ref: '#/components/schemas/Seat'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getBookingDetails:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                includeParticipations:
                  type: boolean
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
              required:
                - bookingKey
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetails'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getBookingRestrictions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                periods:
                  $ref: '#/components/schemas/Collection'
              required:
                - personKey
                - periods
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookingRestrictions:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getClass:
    get:
      description: >-
        [BookingAPI getClass v5
        documentation](https://clublead.atlassian.net/wiki/x/wQCGFQ)
      parameters:
        - name: center
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: id
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getClass v5
        documentation](https://clublead.atlassian.net/wiki/x/wQCGFQ)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getClassParticipations:
    get:
      description: >-
        [BookingAPI getClassParticipations v5
        documentation](https://clublead.atlassian.net/wiki/x/vYCHFQ)
      parameters:
        - name: center
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: id
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getClassParticipations v5
        documentation](https://clublead.atlassian.net/wiki/x/vYCHFQ)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getMemberSanctionStatus:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                fromDate:
                  type: string
              required:
                - personKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  sanctions:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getParticipationQRCode:
    get:
      description: >-
        [BookingAPI getParticipationQRCode v5
        documentation](https://clublead.atlassian.net/wiki/x/4ACJFQ)
      parameters:
        - name: center
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
        - name: id
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MIMEDocument'
            '*/*':
              schema:
                type: string
                format: binary
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getParticipationQRCode v5
        documentation](https://clublead.atlassian.net/wiki/x/4ACJFQ)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeKey'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MIMEDocument'
            '*/*':
              schema:
                type: string
                format: binary
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getPersonParticipations:
    post:
      description: >-
        [BookingAPI getPersonParticipations v5
        documentation](https://clublead.atlassian.net/wiki/x/9ACKFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                fromDate:
                  type: string
                toDate:
                  type: string
                personalBookingType:
                  $ref: '#/components/schemas/PersonalBookingType'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getProductsForBooking:
    post:
      description: >-
        [BookingAPI getProductsForBooking v5
        documentation](https://clublead.atlassian.net/wiki/x/9IVaKg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                productType:
                  $ref: '#/components/schemas/ProductType'
                productGroupId:
                  type: integer
                  format: int32
                onlyAvailableOnWeb:
                  type: boolean
              required:
                - bookingKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getResources:
    get:
      description: >-
        [BookingAPI getResources v5
        documentation](https://clublead.atlassian.net/wiki/x/r4CFFQ)
      parameters:
        - name: center
          in: query
          schema:
            type: integer
            format: int32
        - name: activityKey
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getResources v5
        documentation](https://clublead.atlassian.net/wiki/x/r4CFFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                center:
                  type: integer
                  format: int32
                activityKey:
                  type: integer
                  format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/getWeekSchedulePDF:
    get:
      description: >-
        [BookingAPI getWeekSchedulePDF v5
        documentation](https://clublead.atlassian.net/wiki/x/-ACKFQ)
      parameters:
        - name: centerId
          in: query
          schema:
            type: integer
            format: int32
        - name: startDate
          in: query
          schema:
            type: string
        - name: activityGroupId
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MIMEDocument'
            '*/*':
              schema:
                type: string
                format: binary
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [BookingAPI getWeekSchedulePDF v5
        documentation](https://clublead.atlassian.net/wiki/x/-ACKFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  format: int32
                startDate:
                  type: string
                activityGroupId:
                  type: integer
                  format: int32
              required:
                - centerId
                - startDate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MIMEDocument'
            '*/*':
              schema:
                type: string
                format: binary
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/removeBookingRestriction:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingRestrictionKeys:
                  $ref: '#/components/schemas/List'
              required:
                - bookingRestrictionKeys
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveBookingRestrictionResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/showup:
    post:
      description: >-
        [BookingAPI showup v5
        documentation](https://clublead.atlassian.net/wiki/x/JIGIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                participationId:
                  $ref: '#/components/schemas/CompositeKey'
                userInterfaceType:
                  $ref: '#/components/schemas/UserInterfaceType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /bookings/updateClass:
    post:
      description: >-
        [BookingAPI updateClass v5
        documentation](https://clublead.atlassian.net/wiki/x/AwGKFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingKey:
                  $ref: '#/components/schemas/CompositeKey'
                date:
                  type: string
                time:
                  type: string
                duration:
                  type: integer
                  nullable: false
                  format: int32
                resourceKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/CompositeKey'
                staffPersonKeys:
                  type: array
                  items:
                    $ref: '#/components/schemas/ApiPersonKey'
                maxCapacity:
                  type: integer
                  format: int32
                name:
                  type: string
                description:
                  type: string
                externalId:
                  type: string
                color:
                  $ref: '#/components/schemas/ColorGroup'
              required:
                - bookingKey
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/bookCampTentatively:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingProgramId:
                  type: integer
                  format: int32
                ownerKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/CampBookingParticipant'
              required:
                - bookingProgramId
                - ownerKey
                - participants
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/getCampParticipationsInShoppingBasket:
    get:
      parameters:
        - name: shoppingBasketKey
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  campParticipations:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shoppingBasketKey:
                  type: string
              required:
                - shoppingBasketKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  campParticipations:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/getCampTypes:
    get:
      parameters:
        - name: scopeType
          in: query
          schema:
            type: string
            enum:
              - Global
              - Tree
              - Area
              - Center
        - name: scopeId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  campTypes:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scopeType:
                  $ref: '#/components/schemas/ScopeType'
                scopeId:
                  type: integer
                  nullable: false
                  format: int32
              required:
                - scopeType
                - scopeId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  campTypes:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/getCampsDetails:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingProgramIds:
                  type: array
                  items:
                    type: integer
                    format: int32
                participantKey:
                  $ref: '#/components/schemas/ApiPersonKey'
              required:
                - bookingProgramIds
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  camps:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/getOrderSummary:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ownerKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                participations:
                  type: array
                  items:
                    $ref: '#/components/schemas/CampParticipation'
                includePaymentOptions:
                  type: boolean
              required:
                - ownerKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownerKey:
                    $ref: '#/components/schemas/ApiPersonKey'
                  orders:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/getSemesters:
    get:
      parameters:
        - name: scopeType
          in: query
          schema:
            type: string
            enum:
              - Global
              - Tree
              - Area
              - Center
        - name: scopeId
          in: query
          schema:
            type: integer
            nullable: false
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  semesters:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scopeType:
                  $ref: '#/components/schemas/ScopeType'
                scopeId:
                  type: integer
                  nullable: false
                  format: int32
              required:
                - scopeType
                - scopeId
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  semesters:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/removeTentativeParticipations:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                personKey:
                  $ref: '#/components/schemas/ApiPersonKey'
                bookingProgramId:
                  type: integer
                  format: int32
                userInterfaceType:
                  $ref: '#/components/schemas/UserInterfaceType'
              required:
                - personKey
                - bookingProgramId
                - userInterfaceType
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /camps/searchCamps:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  nullable: false
                  format: int32
                startDateFrom:
                  type: string
                startDateTo:
                  type: string
                campTypeId:
                  type: integer
                  format: int32
                ageGroupId:
                  type: integer
                  format: int32
                semesterId:
                  type: integer
                  format: int32
                participationState:
                  $ref: '#/components/schemas/BookingProgramParticipationState'
              required:
                - centerId
                - startDateFrom
                - startDateTo
                - participationState
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  camps:
                    $ref: '#/components/schemas/Collection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /centers/getCenterCapacityInfo:
    get:
      description: >-
        [CenterAPI getCenterCapacityInfo v5
        documentation](https://clublead.atlassian.net/wiki/x/WQEPNg)
      parameters:
        - name: centerId
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CenterCapacityInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [CenterAPI getCenterCapacityInfo v5
        documentation](https://clublead.atlassian.net/wiki/x/WQEPNg)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                centerId:
                  type: integer
                  format: int32
              required:
                - centerId
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CenterCapacityInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /centers/getCenters:
    get:
      description: >-
        [CenterAPI getCenters v5
        documentation](https://clublead.atlassian.net/wiki/x/EQGIFQ)
      parameters:
        - name: country
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Center'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [CenterAPI getCenters v5
        documentation](https://clublead.atlassian.net/wiki/x/EQGIFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Center'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /centers/getCentersInArea:
    get:
      description: >-
        [CenterAPI getCentersInArea v5
        documentation](https://clublead.atlassian.net/wiki/x/ygCGFQ)
      parameters:
        - name: areaId
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Center'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      description: >-
        [CenterAPI getCentersInArea v5
        documentation](https://clublead.atlassian.net/wiki/x/ygCGFQ)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                areaId:
                  type: integer
                  format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Center'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /centers/getDefaultWebAppsConfigurations:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyConfiguration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
[...]
